body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.game-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
}

.welcome-message {
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del texto */
}




